.dndContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dndArea {
  width: 70%;
  height: 60%;
  margin-top: 20%;
  text-align: center;
  line-height: 200px;
}

.fileInputButton {
  vertical-align: middle;
}

.fileInput {
  display: none;
}
